
@import "../../media-queries";
.loading-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1001;
  background: #3B3736;
}
.loading-left circle{
  stroke: #666666;
}
.loading{
  position: absolute;
  top: 40%;
  z-index: 1002;
  @media #{$phone}{
    right: 35%;
  }
  @media #{$tablet}{
    right: 44%;
  }
  @media #{$desktop}{
    right: 47%;
  }
}
.header-con{
  position: relative;
  min-height: 480px;
  height: 0;
  padding-bottom: 56.325%;
  margin: 3px 3px 125px 3px;
  .header-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img{
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
      width: auto;
      min-width: 100%;
      height: 100%;
    }
  }
}

.preload-close{
  background: url('/../../assets/img/close-hover.png') no-repeat;
  -webkit-background-size: 16px;
  background-size: 16px;
  display: none;
}
.preload-arrow{
  background: url('/../../assets/img/arrow.png') no-repeat;
  -webkit-background-size: 16px;
  background-size: 16px;
  display: none;
}

.refine-con{
  position: fixed;
  right: 40px;
  top:30px;
  width:25px;
  height:25px;
  z-index: 999999999;
  img{
    max-width: 100%;
    max-height: 100%;
    &:hover{
      cursor: pointer;
    }
  }
  .refine-text{
    position: relative;
    bottom: 25px;
    right: 55px;
    color: #3B3736;
    font-family: Georgia-Italic,Lato,sans-serif;
    font-size: 14px;
  }
  .arrow-btn{
    color: white;
    width:20px;
    height:26px;
    margin-bottom: 5px;
    background: url("/../../assets/img/arrow.png") no-repeat;
    background-size: 23px;
    background-position-x: -2px;
    background-position-y: 1px;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    &:hover{
      cursor: pointer;
    }
  }
}
.menu-opened{
  .arrow-btn{
    background: url("/../../assets/img/close.png") no-repeat;
    background-size: 18px;
    background-position-x: 0px;
    background-position-y: 6px;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
  }
  .refine-text{
    display: none;
  }
}
.search-results{
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}
.items-loading-spin-con{
  position: relative;
  margin: 2rem 0;
  left: 48%;
}
.mat-dialog-container {
  padding: 5px !important;
}
.about-con{
  padding: 0px;
  @media #{$phone}{
    margin-top: 24vh;
  }
  @media #{$tablet}{
    margin-top: 15vh;
  }
  @media #{$desktop}{
    margin-top: 24vh;
  }
  @media #{$x-large}{
    margin-top: 15vh;
  }
  .about-content{
    position: relative;
    background: #3B3736;
    color: #d9d9d9;
    min-height: 75vh;
    font-family: 'Georgia-Italic', sans-serif;
    font-weight: normal;
    @media #{$phone}{
      padding: 50px 5px 0 10px;
    }
    @media #{$tablet}{
      padding: 50px 100px 0 100px;
      min-height: 84.5vh;
    }
    @media #{$desktop}{
      padding: 50px 50px 0 50px;
      min-height: 75vh;
    }
    @media #{$x-large}{
      min-height: 84vh;
    }
    ul{
      list-style: none;
      margin: 1% 0 0 1%;
      li{
        font-family: "Lato-Light", sans-serif;
      }
    }
    ul li h3, ul li h4{
      font-size: 2vh;
    }
    h3{
      font-weight: normal;
      @media #{$phone}{
        font-size: 16px;
      }
      @media #{$tablet}{
        font-size: 28px;
      }
      @media #{$desktop}{
        font-size: 3vh;
      }
    }
    h4{
      font-weight: normal;
      @media #{$phone}{
        font-size: 12px;
      }
      @media #{$tablet}{
        font-size: 22px;
      }
      @media #{$desktop}{
        font-size: 3vh;
      }
    }
    .copyright{
      position: absolute;
      width: 100%;
      height: 0;
      top: 94%;
      bottom: 0;
      left: 0;
      right: 0;
      font-family: "Lato", sans-serif;
      color: #666666;
      font-size: 1.8vh;
    }
  }
}
