
<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container style="height: 100vh;">

    <!-- A sidebar -->
    <ng-sidebar #sidebar [(opened)]="_opened" position="right" [autoFocus]="false">
        <div class="sidebar-nav-con">
            <ul class="side-bar-nav">
              <li>
                <a [routerLink]="['/','all-work',1]"
                   routerLinkActive="nav-link-active"
                   class="sidebar-nav-link">all work
                </a>
              </li>
                <li *ngFor="let cat of cats">
                  <a [routerLink]="['/',cat.name.replace(' ','-'),1]"
                     routerLinkActive="nav-link-active"
                     class="sidebar-nav-link">{{cat.name}}
                  </a>
                </li>
            </ul>
            <div class="sidebar-footer">
              <div class="divider"></div>
                <div class="preload-gmap"></div>
              <a href="/about" *ngIf="about_page" class="footer-sec-text" (click)="openAbout($event)">
                {{about_page.title}}
              </a>
                <p class="footer-text" *ngIf="contact_details">
                    <span class="address" [innerHtml]="contact_details.address"></span>
                    <a
                      [href]="'tel:' + contact_details.phone.replace('/ /g','')"
                      class="phone-numb sidebar-nav-link"
                      routerLinkActive="nav-link-active"
                    >{{contact_details.phone}}</a>
                    <br>
                    <a (click)="openContact('info')"
                       class="sidebar-nav-link">{{contact_details.inquiry_email}}</a>
                </p>
                <ul class="gmap-nav" *ngIf="contact_details">
                    <li>
                        <a [href]="contact_details.location" target="_blank" class="sidebar-nav-link"><div class="gmap-icon"></div></a>
                    </li>
                    <li class="gmap-text">
                        <a [href]="contact_details.location" target="_blank" class="sidebar-nav-link">find us</a>
                    </li>
                </ul>

                <p class="footer-sec-text" *ngIf="contact_details">jobs</p>
                <p class="footer-text" *ngIf="contact_details">
                    <span>{{contact_details.jobs_text}}</span>
                    <br>
                    <a (click)="openContact('jobs')" class="sidebar-nav-link" *ngIf="contact_details">
                      {{contact_details.jobs_email}}
                    </a>
                </p>
                <p class="footer-sec-text" *ngIf="contact_details">Inquiries</p>
                <p class="footer-text" *ngIf="contact_details">
                  <span>{{contact_details.inquiry_text}}</span>
                  <br>
                  <a *ngIf="contact_details"
                     (click)="openContact('inquiry')"
                     class="sidebar-nav-link">{{contact_details.inquiry_email}}</a>
                </p>
                <ul class="social-icons" *ngIf="social_pages">
                    <li>
                      <a href="{{social_pages.instagram}}" target="_blank">
                        <img src="../../assets/img/instagram.png"/>
                      </a>
                    </li>
                    <li>
                      <a href="{{social_pages.facebook}}" target="_blank">
                        <img src="../../assets/img/facebook.png">
                      </a>
                    </li>
                    <li>
                      <a href="{{social_pages.vimeo}}" target="_blank">
                        <img src="../../assets/img/vimeo.png">
                      </a>
                    </li>
                    <li>
                      <a href="{{social_pages.twitter}}" target="_blank">
                        <img src="../../assets/img/twitter.png">
                      </a>
                    </li>
                    <li>
                      <a href="{{social_pages.linkedin}}" target="_blank">
                        <img src="../../assets/img/linkedin.png">
                      </a>
                    </li>
                    <li class="youtube-icon">
                      <a href="{{social_pages.youtube}}" target="_blank">
                        <img src="../../assets/img/youtube.png" height="194">
                      </a>
                    </li>
                </ul>
            </div>
        </div>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content id="content_con">

        <div *ngIf="_opened" [@overlay_fade]="'in'" class="sidebar-menu-overlay" (click)="toggleMenu()">
        </div>
        <div class="loading-overlay" *ngIf="loading" [@loading]="'in'"></div>
      <div class="loading" *ngIf="loading">
        <mat-progress-spinner [value]="100" class="loading-left"></mat-progress-spinner>
      </div>
      <div class="loading" *ngIf="loading_progress && loading">
          <mat-progress-spinner [value]="loading_progress"></mat-progress-spinner>
      </div>
      <!--<div class="loader"></div>-->
        <div class="search-results" infiniteScroll
             [infiniteScrollDistance]="2"
             [infiniteScrollThrottle]="50"
             [scrollWindow]="false"
             (scrolled)="loadNextPage()" *ngIf="loading_progress >= 100">


          <div class="preload-close"></div>
          <div class="preload-arrow"></div>
          <!--MENU BUTTON-->
          <div [class]="_opened?'refine-con menu-opened':'refine-con'">
            <div (click)="toggleMenu()" class="arrow-btn"></div>
            <a (click)="toggleMenu()" class="refine-text">Refine</a>
            <!--<a class="close-btn" (click)="toggleMenu()"></a>-->
          </div>

          <!--LOGO-->
          <div class="logo-con" *ngIf="site_settings" [@fade]="'in'">
            <a href="/" (click)="goHome($event)"><img [src]="storage + site_settings.logo" [alt]="site_settings.title"></a>
          </div>
          <!--HEADER-->
          <div class="header-con">
            <header class="primary-header header-img" id="header" *ngIf="current_header" [@fade]="'in'" (click)="nextHeader()">
              <img [src]="current_header.image | trustUrl" alt="">
            </header>
          </div>
          <div class="site-content"></div>
          <div id="content_start"></div>
          <!--POSTS-->
          <app-grid
            *ngIf="posts && posts.data && !about_opened"
            [posts]="posts.data"
            [current_route]="current_route">
          </app-grid>

          <!--LOADING-->
          <div class="items-loading-spin-con text-center" *ngIf="loading_items">
            <mat-spinner [diameter]="50"></mat-spinner>
          </div>
          <!--ABOUT-->
          <div class="about-con" *ngIf="about_opened"  [@fade]="'in'">
            <div [innerHtml]="about_page.body | keepHtml" class="about-content"></div>
          </div>
        </div>
    </div>

</ng-sidebar-container>
